@charset "UTF-8";
.textstyle {
  color: #333;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .1rem;
  font-weight: normal;
  line-height: 1.5;
}
/* css variables */
:root {
  --cl-1a2432: #1a2432;
  --cl-444: #444;
  --cl-f90: #ff9000;
  --cl-f16529: #f16529;
  --cl-0f509a: #0f509a;
  --cl-f8db3d: #f8db3d;
  --cl-4e5a92: #4e5a92;
  --cl-00986b: #00986b;
  --cl-809cc9: #809CC9;
  --cl-f06: #ff0066;
  --cl-b82934: #B82934;
  --cl-1d365d: #1d365d;
  --cl-5193ff: #5193ff;
  --font-nt: 'Noto Sans KR', sans-serif;
  --font-ng: 'Nanum Gothic', sans-serif;
  --font-mg: 'Malgun Gothic', '맑은 고딕';
  --font-pt: 'PT Sans', 'Bungee', cursive;
  --font-ja: 'Jaldi', sans-serif;
  --font-os: 'Oswald', sans-serif;
  --font-tb: 'Telefon Black', Sans-Serif;
  --font-la: 'Lato', sans-serif;
  --font-hn: Helvetica Neue, Helvetica, Arial, sans-serif;
  --respon: 720px;
}
