

	<header>
		<h1></h1><!-- html include -->
		<time class="last_update" datetime="2021-04-20">2021-04-20</time>
	</header>

	<blockquote class="uk_note mt_xxl" role="note">
		<h2 class="sound_only">요약 설명</h2>
		<p>
			<b class="t_blue">layout file-include</b> 에서는<br>
			<span class="t_black">gulp-file-include</span>를 이용하여 html 구조를 설정하는 내용을 다루고 있습니다.
		</p>
		<p class="mt_ms">
			PHP, ASP, JSP같은 서버 사이드 언어(Server-side Programming Language)는 include라는 기능 제공하여 반복되는 마크업을 최소화 하고,
			유지보수 또한 매우 편리하게 할 수 있습니다.<br>
			하지만 html은 include 언어를 지원하지 않아 양의 페이지를 코딩해야 할 경우 적합하지 않습니다.<br>
		</p>
		<p class="mt_ms">
			<mark>gulp-file-include</mark>와 <mark>gulp-nunjucks-render</mark>는 비슷한 문법과 기능을 가지고 있지만,<br>
			간단한 홈페이지 제작을 위해서라면 <mark>gulp-file-include를 추천</mark>,<br>
			보다 복잡하고 여러가지 레이아웃을 가지고 있는 홈페이지 제작을 위해서라면 <mark>gulp-nunjucks-render를 추천</mark>합니다.
		</p>
		<p class="mt_ms">
			Gulp는 '<mark>gulp-file-include</mark>'패키지를 이용하여 html의 불편한 요소를 해소할 수 있으며, PHP와 매우 비슷한 include 기능을 지원합니다.<br>
			이번 페이지에서는 '<mark>gulp-file-include</mark>'를 이용한 간단한 include 방법과
			'<mark>gulp-file-include</mark>'에서 지원하는 <mark>variable</mark>, <mark>if</mark>, <mark>for</mark>문을 활용하는 방법에 대해 알아보는 시간을 가집니다.
		</p>
	</blockquote>


	<!-- 1.5.1. gulp-file-include 문법 -->
	<section class="indent mt_xxl">
		<h2 class="ml_mn">1.5.1. gulp-file-include 문법</h2>
		<p class="mt_ms">
			패키지 설치와 적용에 앞서 문법을 먼저 알아보겠습니다.<br>
			gulp-file-include에는 문법은 기본으로 include 그리고 var, if, for 이렇게 4가지가 있습니다.
		</p>
		<p class="mt_s t_blue">
			javascript 기본 문법이 익숙하지 않은 상황이면 <mark>gulp-file-include</mark>의 모든 기능을 활용하는데에 다소 어려움이 있을 수 있습니다. 최소한의 javascript 문법을 미리 숙지하는 것을 추천합니다.
		</p>

		<!-- @@include -->
		<article class="indent mt_l">
			<h3 class="ml_mn">@@include('템플릿 파일 위치')</h3>
			<p class="mt_s">
				기본 문법으로 include할 파일을 불러옵니다.
			</p>
			<div class="uk_gist_code_box all_black mt_ms" data-tit="@@include">
				<textarea>
					// 기본
					@@include('템플릿 파일 위치')

					// 템플릿에 넘겨줘야할 변수가 있을 경우
					@@include('템플릿 파일 위치', {
						변수명 : 변수값
					})
				</textarea>
			</div>
		</article>

		<!-- @@var -->
		<article class="indent mt_l">
			<h3 class="ml_mn">@@var</h3>
			<p class="mt_s">
				include로 넘겨 받은 변수를 삽입할 수 있습니다.
			</p>
			<div class="uk_gist_code_box all_black mt_ms" data-tit="@@var">
				<textarea>
					@@변수명
				</textarea>
			</div>
		</article>

		<!-- @@if -->
		<article class="indent mt_l">
			<h3 class="ml_mn">@@if</h3>
			<p class="mt_s">
				include로 넘겨 받은 변수와 값을 이용하여 if문을 작성할 수 있습니다.<br>
				주의할점은 <mark>오직 if문만 사용 가능</mark>합니다. else if문은 없습니다.
			</p>
			<div class="uk_gist_code_box all_black mt_ms" data-tit="@@if">
				<textarea>
					@@if (변수 === 변수값){
						결과물
					}
				</textarea>
			</div>
		</article>

		<!-- @@for -->
		<article class="indent mt_l">
			<h3 class="ml_mn">@@for</h3>
			<p class="mt_s">
				반복문을 사용할 수 있습니다.
				include를 선언하면서 배열을 넘기고 tamplate 안에서 받은 배열로 반복문을 작성합니다.<br>
				메뉴 생성 시 유용합니다.
			</p>
			<div class="uk_gist_code_box all_black mt_ms" data-tit="@@for">
				<textarea>
					// include시 배열 넘기는 문법
					@@include('템플릿 파일 위치', {
						배열이름 : [아이템1, 아이템2, 아이템3]
					})
				</textarea>
			</div>
			<div class="uk_gist_code_box mt_ms" data-tit="@@for">
				<textarea>
					<!-- 적용 사례 -->
					<nav class="content">
						<ul>
							@@for (var i = 0; i < arr.length; i++) {
								<li>`+배열이름[i]+`</li>
							}
						</ul>
					</nav>
				</textarea>
			</div>
			<div class="uk_gist_code_box mt_ms" data-tit="@@for build">
				<textarea>
					<!-- 빌드 후 결과 -->
					<nav class="content">
						<ul>
							<li>아이템1</li>
							<li>아이템2</li>
							<li>아이템3</li>
						</ul>
					</div>
				</textarea>
			</div>
		</article>
	</section>


	<!-- 1.5.2. gulp-file-include 설치 및 적용 -->
	<section class="indent mt_xxl">
		<h2 class="ml_mn">1.5.2. gulp-file-include 설치 및 적용</h2>

		<ol class="ol_lst">
			<!-- 패키지 설치 -->
			<li class="tit_h3 mt_xl">
				<h3>패키지 설치</h3>
				<p class="mt_ms">
					명령프롬프트에서 아래의 명령어를 입력합니다.
				</p>
				<div class="terminal_code_box mt_ms">
					<textarea>
						//full code
						npm install gulp-file-include -D  // html include
						npm install gulp-htmlmin -D        // html 압축

						//shorthand
						npm install -D gulp-file-include gulp-htmlmin
					</textarea>
				</div>
			</li>

			<!-- gulpfile.js 파일 수정 -->
			<li class="tit_h3 mt_xl">
				<h3>gulpfile.js 파일 수정</h3>
				<p class="mt_ms">
					<mark>gulpfile.js</mark>를 아래 처럼 수정합니다.<br>
				</p>
				<div class="uk_gist_code_box mt_ms" data-filename="gulpfile.js" data-tit="gulpfile.js">
					<textarea>
						// plug-in 연결
						//
						// 생략...
						//
						const fileinclude = require('gulp-file-include');  // --add--
						const htmlmin = require('gulp-htmlmin');           // --add--


						// --no_change-- autoprefixer 옵션: 브라우저 버전 지정


						// --no_change-- 소스 파일 경로


						// --no_change-- scss 컴파일


						// html 빌드
						gulp.task('html', () => {
							return new Promise(resolve => {
								//gulp.src(PATH.HTML + '/*.html') --del--
								--add_start--
								gulp.src([
									PATH.HTML + '/**/*',             // 불러올 파일의 위치
									'!' + PATH.HTML + '/**/_*',      // '_'로 시작하는 폴더 제외
									'!' + PATH.HTML + '/**/_*/**/*'  // '_'로 시작하는 폴더의 파일 및 하위 폴더 제외
									])
									.pipe(fileinclude({
										prefix: '@@',
										basepath: '@file',
        						indent : true                  //include 되는 tab 사이즈에 맞춰 들여쓰기 적용
									}))
      						.pipe( htmlmin({collapseWhitespace: true, removeComments: true}) )  // html 압축 및 주석 제거
								--add_end--
									.pipe( gulp.dest(DEST_PATH.HTML) )            --no_change--
									.pipe( browserSync.reload({stream: true}) );  --no_change--
								resolve();
							});
						});


						// --no_change-- nodemon:start : app.js 파일을 참조하여 express 서버 구동


						// --no_change-- watch : 변경, 추가되는 파일을 감지하여 자동 빌드


						// --no_change-- browserSync : 빌드된 내용을 브라우저에 반영


						// --no_change-- default : 실행
					</textarea>
				</div>
				<div class="uk_gist_code_box full_code_layer" data-filename="gulpfile.js" data-tit="gulpfile.js">
					<textarea>
						// plug-in 연결
						const gulp = require("gulp");                      // gulp 연결
						const Fiber = require('fibers');                   // dart sass 이용시 gulp-sass와 세트 플러그인
						const dartSass = require('dart-sass');             // dart-sass 연결(기본)
						const scss = require('gulp-sass');                 // gulp-sass 연결(기본)
						const sourcemaps = require('gulp-sourcemaps');     // css.map 파일 생성용
						const minificss = require('gulp-minify-css');      // css 압축
						const autoprefixer = require('autoprefixer');      // 고려할 브라우저 버전 설정
						const postCss = require('gulp-postcss');           // 설정한 브라우저에 버전에 맞춰 css 컴파일
						const rename = require('gulp-rename');             // 파일 이름 변경
						const nodemon = require('gulp-nodemon');           // 파일 변경이 감지될 때 자동으로 재시작
						const browserSync = require('browser-sync');       // 변경된 내용을 브라우저에 적용
						const fileinclude = require('gulp-file-include');  // html include를 위한 플러그인 연결
						const htmlmin = require('gulp-htmlmin');           // html 압축


						// autoprefixer 옵션: 브라우저 버전 지정
						const apfBrwsowsers = [
							'ie > 0', 'chrome > 0', 'firefox > 0'  // 브라우저의 모든 버전 적용
							//'last 2 versions'                    // 최신 브라우저 기준 하위 2개의 버전까지 적용
						];


						// 소스 파일 경로
						const src = './src';
						const dist = './dist';
						const assets = '/assets';
						// 작업폴더 경로 ('src'에서 작업한 것을)
						const PATH = {
							HTML: src + '/html',
							ASSETS: {
								CSS: src + assets + '/css',
								FONTS: src + assets + '/fonts',
								IMAGES: src + assets + '/images',
								JS: src + assets + '/js',
								LIB: src + assets + '/lib',
							}
						}
						// 산출물 경로 ('dist'에 생성한다.)
						const DEST_PATH = {
							HTML: dist,
							ASSETS: {
								CSS: dist + assets +'/css',
								FONTS: dist + assets +'/fonts',
								IMAGES: dist + assets +'/images',
								JS: dist + assets +'/js',
								LIB: dist + assets + '/lib',
							}
						};


						// scss 컴파일
						gulp.task('scss:compile', () => {
							return new Promise(resolve => {
								const options = {
									//scss 옵션 정의
									scss : {
										outputStyle: "expanded",  // 컴파일 스타일: nested(default), expanded, compact, compressed
										indentType: "space",      // 들여쓰기 스타일: space(default), tab
										indentWidth: 2,           // 들여쓰기 칸 수 (Default : 2)
										precision: 8,             // 컴파일 된 CSS 의 소수점 자리수 (Type : Integer , Default : 5)
										sourceComments: true,     // 코멘트 제거 여부 (Default : false)
										compiler: dartSass,       // 컴파일 도구
										fiber: Fiber,             // 컴파일 오버해드 방지
									},
									postcss: [ autoprefixer({
										overrideBrowserslist: apfBrwsowsers,
									}) ]
								};
								gulp.src( PATH.ASSETS.CSS + '/*.scss' )                   // 컴파일 대상 scss파일 찾기
									// *.css 생성
									.pipe( sourcemaps.init() )                              // 소스맵 작성
									.pipe( scss(options.scss).on('error', scss.logError) )  // scss 옵션 적용, scss 작성시 watch가 멈추지 않도록 logError 설정
									.pipe( postCss(options.postcss) )                       // 하위 브라우저 고려
									.pipe( sourcemaps.write() )                             // 소스맵 적용
									.pipe( gulp.dest(DEST_PATH.ASSETS.CSS) )                // 컴파일 후 css파일이 생성될 목적지 설정
									.pipe( browserSync.reload({stream: true}) )             // 파일 변경 시 브라우저에 반영
									// *.min.css 생성
									.pipe( minificss() )                                    // 컴파일된 css 압축
									.pipe( rename({ suffix: '.min' }) )                     // 압축파일 *.min.css 생성
									.pipe( sourcemaps.write() )                             // 소스맵 적용
									.pipe( gulp.dest(DEST_PATH.ASSETS.CSS) )                // 컴파일 후 css파일이 생성될 목적지 설정
									.pipe( browserSync.reload({stream: true}) );            // 파일 변경 시 브라우저에 반영
								resolve();
							});
						});


						// html 빌드
						gulp.task('html', () => {
							return new Promise(resolve => {
								gulp.src([
									PATH.HTML + '/**/*',             // 불러올 파일의 위치
									'!' + PATH.HTML + '/**/_*',      // '_'로 시작하는 폴더 제외
									'!' + PATH.HTML + '/**/_*/**/*'  // '_'로 시작하는 폴더의 파일 및 하위 폴더 제외
									])
									.pipe(fileinclude({
										prefix: '@@',
										basepath: '@file',
										indent : true                  //include 되는 tab 사이즈에 맞춰 들여쓰기 적용
									}))
									.pipe( htmlmin({collapseWhitespace: true, removeComments: true}) )  // html 압축 및 주석 제거
									.pipe(gulp.dest(DEST_PATH.HTML))                                    // 컴파일 후 html파일이 생성될 목적지 설정
									.pipe( browserSync.reload({stream: true}) );                        // 파일 변경 시 브라우저에 반영
								resolve();
							});
						});


						// nodemon:start : app.js 파일을 참조하여 express 서버 구동
						gulp.task('nodemon:start', () => {
							return new Promise(resolve => {
								nodemon({
									script: 'app.js',
									watch: DEST_PATH.HTML
								});
								resolve();
							});
						});


						// watch : 변경, 추가되는 파일을 감지하여 자동 빌드
						gulp.task('watch', () => {
							return new Promise(resolve => {
								gulp.watch(PATH.HTML + "/**/*.html", gulp.series(['html']));                //html 폴더 내의 모든 파일 감시
								gulp.watch(PATH.ASSETS.CSS + "/**/*.scss", gulp.series(['scss:compile']));  //css 폴더 내의 모든 파일 감시
								resolve();
							});
						});


						// browserSync : 빌드된 내용을 브라우저에 반영
						gulp.task('browserSync', () => {
							return new Promise(resolve => {
								browserSync.init(null, {
									proxy: 'http://localhost:8005',
									port: 8006
								});
								resolve();
							});
						});


						// default : 실행
						gulp.task( 'default', gulp.series(['scss:compile', 'html', 'nodemon:start', 'browserSync', 'watch']));
					</textarea>
				</div>
				<p class="mt_ms">
					html 빌드 task를 변경하였습니다.<br>
					<!--
					'_'로 시작하는 폴더를 제외하는 이유는 include 템플릿을 '_include' 폴더에 생성할 것이고,
					include 템플릿은 각각의 html파일에 병합되어 빌드가 되기 때문에
					'dist' 폴더에 따로 빌드가 될 필요가 없습니다.
					-->
					<!--
					gulp 실행 시 include 템플릿은 다른 html이나 html내의 폴더와 파일처럼 빌드가 될 필요가 없습니다.
					이유는 include 템플릿은 각각의 html파일에 병합되어 빌드가 되기 때문입니다.<br>
					-->
					gulp 실행 시 include 템플릿은 각각의 html파일에 병합되어 빌드가 되기 때문에 따로 빌드가 될 필요가 없습니다.<br>
					그래서 '_'시작하는 폴더와 하위 파일들은 빌드에서 제외 시키는 설정을 추가로 하였고,
					include 템플릿을 '_include' 폴더에 생성하여 빌드에서 제외하게 할 예정입니다.
				</p>
			</li>

			<!-- sub.html 생성 및 include 템플릿 생성 -->
			<li class="tit_h3 mt_xl">
				<h3>sub.html 생성 및 include 템플릿 생성</h3>
				<p class="mt_ms">
					include 기능을 테스트 하기 위해 필요한 파일을 생성합니다.
				</p>

				<!-- 파일 구조 -->
				<article class="indent mt_l">
					<h4 class="ml_mn">파일 구조</h4>
					<p class="mt_s">
						html 폴더 내에 '<mark>_include</mark>', '<mark>page</mark>' 폴더 생성 후,<br>
						'<mark>_include</mark>' 폴더 내에 <mark>head.html</mark>, <mark>header.html</mark>, <mark>nav.html</mark>, <mark>footer.html</mark> 파일 생성,<br>
						'<mark>page</mark>' 폴더 내에 <mark>sub.html</mark> 파일을 생성합니다.
					</p>
					<p class="mt_ms"><img src="ukncs/images/gulp/gulp-file-include_srart.png" alt="html 폴더 파일 구조"/></p>
				</article>

				<!-- index.html 파일 수정 -->
				<article class="indent mt_l">
					<h4 class="ml_mn">index.html 파일 수정</h4>
					<p class="mt_s">
						index.html 파일을 아래처럼 수정합니다.
					</p>
					<div class="uk_gist_code_box mt_ms" data-filename="index.html" data-tit="index.htmljs">
						<textarea>
							<!DOCTYPE html>
							<html lang="ko">
								<!-- head include -->
								@@include('./_include/head.html', {
									main_page : true,
									title_text : 'Gulp setting'
								})
								<body>
									<div class="wrap">
										<!-- header include -->
										@@include('./_include/header.html', {
											h1_text : 'Main page 입니다.'
										})
										&nbsp;
										<p>main content</p>
										&nbsp;
										<!-- footer include -->
										@@include('./_include/footer.html')
									</div>
									<!-- //wrap -->
									</body>
							</html>
						</textarea>
					</div>
				</article>

				<!-- page > sub.html 파일 생성 -->
				<article class="indent mt_l">
					<h4 class="ml_mn">page > sub.html 파일 생성</h4>
					<p class="mt_s">
						sub.html 파일을 아래처럼 생성합니다.<br>
						index.html과 달리 include 경로 앞에 점(.)이 하나 더 있습니다.
						include 템플릿의 위치와 include 하려는 파일의 위치를 잘 알아야 합니다.<br>
						index.html은 <mark>'_include' 폴더와 형제</mark>이기 때문에 '<mark><code>./_include</code></mark>' 이렇게 시작하지만<br>
						sub.html은 <mark>부모 폴더가 '_include' 폴더와 형제</mark>이기 때문에 '<mark><code>../_include</code></mark>' 이렇게 시작해야 합니다. '../'를 사용하므로써 자신의 위치에서 한단계 위로 올라가는 것입니다.
					</p>
					<div class="uk_gist_code_box mt_ms" data-filename="sub.html" data-tit="sub.html">
						<textarea>
							<!DOCTYPE html>
							<html lang="ko">
								<!-- head include -->
								@@include('../_include/head.html', {
									main_page : false,
									title_text : 'Sub page'
								})
								<body>
									<div class="wrap">
										<!-- header include -->
										@@include('../_include/header.html', {
											h1_text : 'Sub page 입니다.'
										})
										&nbsp;
										<p>sub content</p>
										&nbsp;
										<!-- footer include -->
										@@include('../_include/footer.html')
									</div>
									<!-- //wrap -->
								</body>
							</html>
						</textarea>
					</div>
				</article>

				<!-- _include > head.html 파일 생성 -->
				<article class="indent mt_l">
					<h4 class="ml_mn">_include > head.html 파일 생성</h4>
					<p class="mt_s">
						head.html 파일을 아래처럼 생성합니다.<br>
						위 index.html, sub.html 파일의 head include 선언 부분의 변수 <mark>main_page</mark>의 값이 <mark>index는 true</mark>, <mark>sub는 false</mark>로 선언되어 있습니다.
						그 변수와 값을 받아 head.html에 <mark>if문</mark>을 작성하여 index 페이지 일때와 sub 페이지 일때 각각 다른 <code>&lt;title&gt;</code>이 빌드 되도록 하였습니다.<br>
						위 index.html에는 없지만 sub.html에는 <mark>title_text</mark>라는 변수가 있고 값에는 <code>&lt;title&gt;</code>에 들어갈 페이지의 이름이 선언되어 있습니다.
						모든 홈페이지의 서브는 독립적인 페이지 이름이 <code>&lt;title&gt;</code>에 적용되야 하기 때문에 생성한 변수이며, 아래 주석의 '<mark>서브 페이지 일 때</mark>'부분을 보면
						<code>&lt;title&gt;</code>에 <mark><code>@@title_text</code></mark>와 메인 페이지 일 때 적용한 title명 까지 같이 적용하였습니다.
					</p>
					<div class="uk_gist_code_box mt_ms" data-filename="head.html" data-tit="head.html">
						<textarea>
							<head>
								<meta charset="UTF-8">
								<!-- 메인 페이지 일 때 -->
								@@if ( main_page === true ) {
									<title>@@title_text</title>
								}
								<!-- 메인 페이지가 아닐 때(서브 페이지 일 때) -->
								@@if ( main_page === false ) {
									<title>@@title_text | Gulp setting</title>
								}
								<meta name="viewport" content="width=device-width, initial-scale=1.0">
								<meta http-equiv="X-UA-Compatible" content="ie=edge">
								<link rel="stylesheet" href="@@webRoot/assets/css/style.css">
							</head>
						</textarea>
					</div>
					<p class="mt_s">
						위 파일의 style.css 링크를 보면 앞에 <mark><code>@@webRoot</code></mark>가 있습니다.<br>
						include로 인해 각 페이지에서 불러들일 css, image, js파일 들의 상대 경로가 꼬일 경우 빌드 폴더(dist) 기준으로 상태 경로를 자동 생성하는 기능입니다.
						예를 들어 css를 불러들일 때 index.html은 형제 경로의 assets부터 시작하지만 sub.html은 page폴더 위로 이동하여 assets폴더로 접근해야하는 문제가 있습니다.<br>
						이 때 상대경로를 알아서 잡아주는 기능이 <mark><code>@@webRoot</code></mark>입니다.
					</p>
				</article>

				<!-- _include > header.html 파일 생성 -->
				<article class="indent mt_l">
					<h4 class="ml_mn">_include > header.html 파일 생성</h4>
					<p class="mt_s">
						header.html 파일을 아래처럼 생성합니다.<br>
						<mark><code>@@h1_text</code></mark>는 이 파일을 include할때 선언한 <mark>h1_text</mark>변수의 값을 대입하는 것입니다.
						그 아래 nav.html파일을 include하고 링크를 생성할 배열을 변수로 지정하였습니다.
					</p>
					<div class="uk_gist_code_box mt_ms" data-filename="header.html" data-tit="header.html">
						<textarea>
							<header class="header">
								<h1>@@h1_text</h1>

								@@include('./nav.html', {
									link_item : [
										{name: 'main page', link: '/'},
										{name: 'sub page', link: '/page/sub.html'},
									],
								})
							</header>
						</textarea>
					</div>
				</article>

				<!-- _include > nav.html 파일 생성 -->
				<article class="indent mt_l">
					<h4 class="ml_mn">_include > nav.html 파일 생성</h4>
					<p class="mt_s">
						nav.html 파일을 아래처럼 생성합니다.<br>
						위 header.html에서 정의한 배열을 이용하여 <mark><code>@@for</code></mark>문을 작성하였습니다.<br>
						header.html에서 두개의 배열을 정의하였기 때문에 nav.html 빌드됬을 때 두 개의 <code>&lt;a&gt;</code>태그와
						각각 <mark><code>href</code></mark>에는 <mark>link</mark>의 값이 <mark>링크 텍스트</mark>는 <mark>name</mark>의 값이 빌드됩니다.
					</p>
					<div class="uk_gist_code_box mt_ms" data-filename="nav.html" data-tit="nav.html">
						<textarea>
							<nav class="nav">
								@@for (var i = 0; i < link_item.length; i++) {
									<a href="`+link_item[i].link+`">`+link_item[i].name+`</a>
								}
							</nav>
						</textarea>
					</div>
				</article>

				<!-- _include > footer.html 파일 생성 -->
				<article class="indent mt_l">
					<h4 class="ml_mn">_include > footer.html 파일 생성</h4>
					<p class="mt_s">
						footer.html 파일을 아래처럼 생성합니다.
					</p>
					<div class="uk_gist_code_box mt_ms" data-filename="footer.html" data-tit="footer.html">
						<textarea>
							<footer class="footer">
								footer 영역 입니다.
							</footer>
						</textarea>
					</div>
				</article>

				<!-- style.scss 파일 수정 -->
				<article class="indent mt_l">
					<h4 class="ml_mn">style.scss 파일 수정</h4>
					<p class="mt_s">
						style.scss 파일을 아래처럼 수정합니다.<br>
						index.html, sub.html 파일이 빌드되었을때 include 영역이 눈에 띄게 하기 위해 간단하게 수정을 진행합니다.
					</p>
					<div class="uk_gist_code_box mt_ms" data-filename="style.scss" data-tit="style.scss">
						<textarea>
							@charset 'utf-8';

							$bg-color: #fff;

							html {
								background: $bg-color;
							}

							.header {
								padding: 20px;
								background: #eee;
								nav {
									padding:20px;
									background: #888;
									a {color:#fff;}
								}
							}

							.footer {
								padding: 20px;
								background: #eee;
							}
						</textarea>
					</div>
				</article>
			</li>

			<!-- gulp 실행 후 웹서버 확인 -->
			<li class="tit_h3 mt_xl">
				<h3>gulp 실행 후 웹서버 확인</h3>
				<p class="mt_ms">
					<code>gulp</code>를 실행하여 정상적으로 빌드가 되는지 확인합니다.
				</p>
				<div class="terminal_code_box mt_ms">
					<textarea>
						gulp
					</textarea>
				</div>
				<p class="mt_ms">
					gulp 실행 후 <mark>dist 폴더</mark>를 보면 <mark>assets 형제 폴더</mark>로 <mark>page 폴더</mark>가 생성되어 있고,
					그 안에 <mark>sub.html</mark> 파일이 빌드된 것을 확인할 수 있습니다.<br>
					<mark>gulpfile.js</mark>에서 세팅한대로 <mark>_include 폴더</mark>와 <mark>하위 파일</mark>은 <mark>빌드에 제외되어 dist 폴더에는 존재하지 않습니다.</mark>
				</p>
				<p class="mt_ms"><img src="ukncs/images/gulp/gulp-file-include_2.png" alt="html 빌드 후 dist 폴더 구조"/></p>
				<p class="mt_ms">
					브라우저에는 수정한 style.scss에 맞게 include된 부분이 구분되어 보여집니다.
				</p>
				<p class="mt_ms"><img src="ukncs/images/gulp/b_index_sub.png" alt="빌드 후 웹서버"/></p>
				<p class="mt_ms">
					빌드된 html파일을 보면 아래처럼 include 템플릿이 병합되어 하나의 파일로 완성되어 있을 것을 확인할 수 있습니다.<br>
					<mark>gulpfile.js</mark>에 html 압축 기능까지 추가했기 때문에 아래 코드에서 빌드 수 압축 전화 후를 같이 확인 할 수 있습니다.(실제 빌드된 html은 압축되어 한줄로 보여집니다.)
				</p>
				<div class="uk_gist_code_box mt_ms" data-filename="index.html" data-tit="index.html">
					<textarea>
						<!-- 압축 전 ----------------------------- -->
						<!DOCTYPE html>
						<html lang="ko">
							<!-- head include -->
							<head>
								<meta charset="UTF-8">
								<title>Gulp setting</title>
								<meta name="viewport" content="width=device-width, initial-scale=1.0">
								<meta http-equiv="X-UA-Compatible" content="ie=edge">
								<link rel="stylesheet" href="./assets/css/style.css">
							</head>
							<body>
								<div class="wrap">
									<!-- header include -->
									<header class="header">
									<h1>Main page 입니다.</h1>
										<nav class="nav">
											<a href="/">main page</a>
											<a href="/page/sub.html">sub page</a>
										</nav>
									</header>
									&nbsp;
									<p>main content</p>
									&nbsp;
									<!-- footer include -->
									<footer class="footer">
										footer 영역 입니다.
									</footer>
								</div>
								<!-- //wrap -->
							</body>
						</html>

						<!-- 압축 후(실제 dist 빌드) ----------------------------- -->
						<!DOCTYPE html><html lang="ko"><head><meta charset="UTF-8"><title>Gulp setting</title><meta name="viewport" content="width=device-width,initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><link rel="stylesheet" href="./assets/css/style.css"></head><body><div class="wrap"><header class="header"><h1>Main page 입니다.</h1><nav class="nav"><a href="/">main page</a> <a href="/page/sub.html">sub page</a></nav></header><p>main content</p><footer class="footer">footer 영역 입니다.</footer></div></body></html>
					</textarea>
				</div>
				<div class="uk_gist_code_box mt_ms" data-filename="sub.html" data-tit="sub.html">
					<textarea>
						<!-- 압축 전 ----------------------------- -->
						<!DOCTYPE html>
						<html lang="ko">
							<!-- head include -->
							<head>
								<meta charset="UTF-8">
								<title>Sub page | Gulp setting</title>
								<meta name="viewport" content="width=device-width, initial-scale=1.0">
								<meta http-equiv="X-UA-Compatible" content="ie=edge">
								<link rel="stylesheet" href="../assets/css/style.css">
							</head>
							<body>
								<div class="wrap">
									<!-- header include -->
									<header class="header">
									<h1>Sub page 입니다.</h1>
										<nav class="nav">
											<a href="/">main page</a>
											<a href="/page/sub.html">sub page</a>
										</nav>
									</header>
									&nbsp;
									<p>sub content</p>
									&nbsp;
									<!-- footer include -->
									<footer class="footer">
										footer 영역 입니다.
									</footer>
								</div>
								<!-- //wrap -->
							</body>
						</html>

						<!-- 압축 후(실제 dist 빌드) ----------------------------- -->
						<!DOCTYPE html><html lang="ko"><head><meta charset="UTF-8"><title>Sub page | Gulp setting</title><meta name="viewport" content="width=device-width,initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><link rel="stylesheet" href="../assets/css/style.css"></head><body><div class="wrap"><header class="header"><h1>Sub page 입니다.</h1><nav class="nav"><a href="/">main page</a> <a href="/page/sub.html">sub page</a></nav></header><p>sub content</p><footer class="footer">footer 영역 입니다.</footer></div></body></html>
					</textarea>
				</div>
			</li>
		</ol>
	</section>















